<%= form_for @comment do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :comm, placeholder: "What is your comment?", id: "message_area", rows: 2 %>
  </div>
  <%= f.submit "Comment", class: "btn" %>
<% end %>